################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/TestNware.API/bin/Debug/netcoreapp3.1
