

@{
    ViewData["Title"] = "Blog";
}

<h1>Blog</h1>

<div class="d-flex flex-row">
    <h3 class="mr-3">Categories</h3>
    <div><a asp-action="Create" asp-controller="Categories" class="btn btn-sm btn-outline-primary">Add</a></div>
</div>

<div class="d-flex flex-column mb-2">
    <ul class="list-group mb-1" id="list-categories">
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination-categories">
        </ul>
    </nav>
</div>

<div class="d-flex flex-row">
    <h3 class="mr-3">Posts</h3>
    <div><a asp-action="Create" asp-controller="Posts" class="btn btn-sm btn-outline-primary">Add</a></div>
</div>

<div class="d-flex flex-column">
    <ul class="list-group mb-1" id="list-posts">
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination-posts">
        </ul>
    </nav>
</div>

<input hidden id="api-url" value="@ViewBag.UrlApi" />

