body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

.ql-editor {
    height: 120px !important;
}


.list-group a {
    text-decoration: none;
}

#list-categories, #list-posts {
    height: 250px;
}